body {
  margin: 0;
  background-image: url('./src/fondo.png');
  display: grid;
  font-family: 'Arial', sans-serif; /* Cambiar la fuente según tus preferencias */
  font-weight: bold;
  place-content: center;
  min-height: 100vh;
}

.container-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
